In [1]:
import pandas as pd
import geopandas as gpd

## Load processed incidents data

In [2]:
df = pd.read_csv(
    "../data-sandbox/data/processed/lebanon-arms-map.csv",
    usecols=[*range(0, 4), 6],
)

df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78 entries, 0 to 77
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   content_code  78 non-null     object
 1   event_date    70 non-null     object
 2   longitude     78 non-null     float64
 3   latitude      78 non-null     float64
 4   tooltip       78 non-null     object
dtypes: float64(2), object(3)
memory usage: 3.2+ KB

,content_code,event_date,longitude,latitude,tooltip
0,LB001,2020-01-18,35.507076,33.897517,"Vehicle, vehicle-mounted weapon"
1,LB002,2020-08-08,35.506168,33.897800,"Vehicle, vehicle-mounted weapon"
2,LB004,2020-01-09,35.507076,33.897517,"Launcher, munition, 2 x vehicle, vehicle-mount..."
3,LB005_1,2020-01-15,35.493568,33.879776,Launcher
4,LB005_2,2020-01-15,35.495533,33.879205,Launcher

In [3]:
gdf = gpd.GeoDataFrame(
    df, geometry=gpd.points_from_xy(df["longitude"], df["latitude"])
)

gdf.info()
gdf.head()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 78 entries, 0 to 77
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   content_code  78 non-null     object
 1   event_date    70 non-null     object
 2   longitude     78 non-null     float64
 3   latitude      78 non-null     float64
 4   tooltip       78 non-null     object
 5   geometry      78 non-null     geometry
dtypes: float64(2), geometry(1), object(3)
memory usage: 3.8+ KB

,content_code,event_date,longitude,latitude,tooltip,geometry
0,LB001,2020-01-18,35.507076,33.897517,"Vehicle, vehicle-mounted weapon",POINT (35.50708 33.89752)
1,LB002,2020-08-08,35.506168,33.897800,"Vehicle, vehicle-mounted weapon",POINT (35.50617 33.89780)
2,LB004,2020-01-09,35.507076,33.897517,"Launcher, munition, 2 x vehicle, vehicle-mount...",POINT (35.50708 33.89752)
3,LB005_1,2020-01-15,35.493568,33.879776,Launcher,POINT (35.49357 33.87978)
4,LB005_2,2020-01-15,35.495533,33.879205,Launcher,POINT (35.49553 33.87921)

## Get bounding box for Mapbox map

In [4]:
print(gdf["geometry"].total_bounds)  # minLng, minLat, maxLng, maxLat

[35.4832837 33.878763  35.829765  34.42087  ]

## Write to GeoJSON

In [5]:
gdf.to_file("data/processed/lebanon-arms.json", driver="GeoJSON")